#exam-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#exam-question-title {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

#exam-question-alternatives-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
  font-weight: 600;
}

#exam-action-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#exam-confirm-question-answer,
#exam-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.alternative {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 16px;
  border: 1px solid var(--dark-border);
  border-radius: 4px;
}

.alternative-text {
  font-weight: 400;
}

.alternative:hover {
  cursor: pointer;
}

/* FIX: Não funciona */
.selectedd-alternative {
  border: 1px solid red !important;
}
