#final-result-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#user-final-points {
  text-align: right;
  padding-bottom: 20px;
  font-weight: bold;
}

#final-result-answers {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.final-result-answer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
  border: 2px solid var(--dark-border);
  border-radius: 6px;
  padding: 16px;
}

.final-result-answers-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 20px;
}

.final-result-question-text {
  margin-bottom: 20px;
}

.final-result-question-icon-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.final-result-correct-answer,
.final-result-user-answer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
