#global-modal {
  /* display: flex; */
  flex-direction: column;
  gap: 24px;
  padding: 24px 24px 34px 24px;
  background-color: var(--dark-backgrond);
  color: var(--light-text);
  border: 1px solid var(--dark-border);
  border-radius: 6px;
}

#global-modal-title {
  font-weight: 600;
}

#global-modal-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

dialog::backdrop {
  background: rgb(0 0 0 / 50%);
}
