@import "./global-modal.css";
@import "./utils.css";
@import "./variables.css";
@import "./exam-file-upload.css";
@import "./exam.css";
@import "./final-result.css";

/* GLOBAL BODY STYLES */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  background-color: var(--dark-backgrond);
  color: var(--light-text);
}

/* TITLE IN THE MIDDLE OF THE SCREEN (FIRST SCREEN TO SELECT A FILE) */
#project-name-and-icon {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
/* ICON NEXT TO THE TITLE */
#project-name-and-icon span {
  font-size: 50px;
}

/* GLOBAL STYLES FOR BUTTONS */
button {
  background-color: var(--light-background);
  border: none;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-text);
  transition: background-color ease-in-out 0.2s;
}
button:hover {
  background-color: var(--light-background-hover);
  cursor: pointer;
}
