@import "./global-modal.css";

/* VARIABLES */
:root {
  --dark-backgrond: #09090b;
  --dark-border: #27272a;
  --light-text: #fafafa;
  --light-background: #fafafa;
  --light-background-hover: #e2e2e2;
  --dark-text: #18181b;
  --gray-text: #bebebe;
}

/* GLOBAL BODY STYLES */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  background-color: var(--dark-backgrond);
  color: var(--light-text);
}

dialog::backdrop {
  background: rgb(0 0 0 / 50%);
}

/* SPECIAL RE-USABLE CLASSES */
.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}

.fully-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* TITLE IN THE MIDDLE OF THE SCREEN (FIRST SCREEN TO SELECT A FILE) */
#project-name-and-icon {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
/* ICON NEXT TO THE TITLE */
#project-name-and-icon span {
  font-size: 50px;
}

/* GLOBAL STYLES FOR BUTTONS */
button {
  background-color: var(--light-background);
  border: none;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-text);
  transition: background-color ease-in-out 0.2s;
}
button:hover {
  background-color: var(--light-background-hover);
  cursor: pointer;
}

/* SELECT JSON FILE FORM STYLES */
form:has(#exam-file) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
}
.form-input-container label {
  font-weight: bold;
}
.form-input-container input {
  font-weight: bold;
}
.form-input-container input::file-selector-button {
  font-weight: bold;
  background-color: var(--light-background);
  border: none;
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  transition: background-color ease-in-out 0.2s;
}
.form-input-container input::file-selector-button:hover {
  background-color: var(--light-background-hover);
  cursor: pointer;
}
#selected-file-name {
  font-style: italic;
  color: var(--gray-text);
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  margin-top: 6px;
}

/* EXAM RELATED */
#exam-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#question-title {
  font-weight: 700;
  font-size: 20px;
}

#question-alternatives-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
  font-weight: 600;
}

#exam-action-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/* FINAL RESULT */

#final-result {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#user-points {
  text-align: right;
  padding-bottom: 20px;
  font-weight: bold;
}

#answers {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.final-result-answer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
  border: 2px solid var(--dark-border);
  border-radius: 6px;
  padding: 16px;
}

.final-result-answers-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.final-result-question-text {
  margin-bottom: 20px;
}

.final-result-question-icon-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
