:root {
  --dark-backgrond: #09090b;
  --dark-border: #27272a;
  --light-text: #fafafa;
  --light-background: #fafafa;
  --light-background-hover: #e2e2e2;
  --dark-text: #18181b;
  --gray-text: #bebebe;
}
